<h1>Repository Details ( <%= current_user.username %> )</h1>
  <%= button_to "Sign Out", signout_path, method: :delete %>

<table class="table table-striped">
  <thead border="1">
    <tr>
      <th>
        <p> Name </p>
      </th>
      <th>
        <p>Description</p>
      </th>
    </tr>
  </thead>
  <tbody border="1">
    <tr>
      <td>
        <%= @repository[:name] %>
      </td>
      <td>
        <%= @repository[:full_name].present? ? @repository[:full_name] : "N/A"%>
      </td>
    </tr>
  </tbody>
</table>



<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <p>Commit Date</p>
      </th>
      <th>
        <p> Commit Message</p>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @repository_commits.each do |repository_commit| %>
      <tr>
        <td>
          <%= repository_commit[:commit_date].to_time.strftime('%Y-%m-%d') %>
        </td>
        <td>
          <%= repository_commit[:commit_msg] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
